rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bookings/{bookingId} {
      // Allow public creation of bookings, read access (to check availability and tickets), and updates (to mark as paid)
      allow read, create, update: if true;
      // Disallow deleting bookings publicly
      allow delete: if false;
    }
    match /closed_dates/{date} {
      // Allow reading closed dates, and modifying them (since we check credentials on the api layer/or local session)
      allow read, write: if true;
    }
    match /closed_slots/{slotId} {
      // Allow reading closed slots, and modifying them (since we check credentials on the api layer/or local session)
      allow read, write: if true;
    }
  }
}
